[Unit]
Description=Servicio de Alertas de Vulnerabilidad 
# CRÍTICO: Esperar a que la red esté online antes de iniciar 
After=network.target

[Service]
# 'oneshot' indica que es un script que inicia, ejecuta y termina.
Type=oneshot

# Usuario y Grupo de ejecución 
User=alertas
Group=alertas
WorkingDirectory=/opt/vuln_alerts/

# Carga de credenciales
EnvironmentFile=/etc/default/vuln_alerts

# Ejecución: Usamos python3 explícitamente
ExecStart=/opt/vuln_alerts/venv/bin/python3 /opt/vuln_alerts/vuln_alerts.py

# SEGURIDAD :
# Si el script tarda más de 2 minutos, el sistema lo detiene forzosamente.
TimeoutSec=120

[Install]
WantedBy=multi-user.target